<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"
            integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s=" crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            crossorigin="anonymous"></script>

    <title>Emergence</title>
</head>

<style type="text/css">
    .graph-container {
        max-height: 600px;
        margin-right: 20px;
        margin: 0 auto;
    }

    .graph-div {
        height: 100%;
    }

    .graph-canvas {
        max-height: 600px;
    }

    .control-panel {
        max-height: 600px;
    }
</style>

<body style="background-color: #f2f2f2; font-family: Trebuchet MS, Helvetica, sans-serif;">
{% include "navbar.html" %}

{% block section %}
{% endblock %}


<div class="container-fluid to-show" align="center">
    <div class="row container-fluid" align="center" style="margin-top: 10px; margin-left: 1px;">
        <div class="card col-sm-9 graph-container">
            <div class="card-body">
                <h5 class="card-title" align="center">Patient inflow and patients seen graph</h5>
                <div class="graph-div">
                    <canvas class="graph-canvas" id="ph-graph" width="auto"></canvas>
                    <script type="text/javascript">
                        var ctx = document.getElementById("ph-graph").getContext('2d');
                        var phChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: [{% for item in labels %} "{{item}}h", {% endfor %}],
                                datasets: [{
                                    fill: false,
                                    label: 'Patients seen per hour',
                                    data: [{% for item in pph_list %} '{{item}}', {% endfor %}],
                                    backgroundColor: 'rgba(255, 0, 0, 0.5)',
                                    pointBorderColor: 'rgba(255, 0, 0, 1)',
                                    borderColor: 'rgba(255, 0, 0, 1)',
                                    pointHoverRadius: 5,
                                    pointHoverBackgroundColor: 'rgba(255, 0, 0, 0.5)',
                                    pointHoverBorderColor: 'rgba(255, 0, 0, 1)',
                                    borderWidth: 1
                                }, {
                                    fill: false,
                                    label: 'patient inflow per hour',
                                    data: [{% for item in pi_list %} '{{item}}', {% endfor %}],
                                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                                    pointBorderColor: 'rgba(0, 123, 255, 1)',
                                    borderColor: 'rgba(0, 123, 255, 1)',
                                    pointHoverRadius: 5,
                                    pointHoverBackgroundColor: 'rgba(0, 123, 255, 0.5)',
                                    pointHoverBorderColor: 'rgba(0, 123, 255, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                tooltips: {
                                    mode: 'index',
                                    intersect: false,
                                },
                                hover: {
                                    mode: 'nearest',
                                    intersect: true,
                                },
                                scales: {
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Time of day (hours)'
                                        }
                                    }],
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Number of patients'
                                        },
                                        ticks: {
                                            beginAtZero: true,
                                            suggestedMin: 0,
                                            suggestedMax: 14
                                        },
                                        gridLines: {
                                            drawBorder: false
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-fluid" style="margin-top:10px; margin-left: 1px;">
        <div class="card col-sm-9 graph-container">
            <div class="card-body">
                <div class="col-sm-12">
                    <h5 align="center" class="card-title">Patient waiting times graph</h5>
                    <div class="graph-div">
                        <canvas class="graph-canvas" id="t-graph" width="auto"></canvas>
                        <script type="text/javascript">
                            var ctx = document.getElementById("t-graph").getContext('2d');
                            var tempChart = new Chart(ctx, {
                                // counter: "0",
                                type: 'line',
                                data: {
                                    labels: [{% for item in labels %} "{{item}}h", {% endfor %}],
                                    datasets: [{
                                        label: 'Average waiting times per hour',
                                        fill: false,
                                        data: [{% for item in pia_list %} '{{item}}', {% endfor %}],
                                        backgroundColor: 'rgba(0, 128, 0, 0.5)',
                                        pointBorderColor: 'rgba(0, 128, 0, 1)',
                                        borderColor: 'rgba(0, 128, 0, 1)',
                                        pointHoverRadius: 5,
                                        pointHoverBackgroundColor: 'rgba(0, 128, 0, 0.5)',
                                        pointHoverBorderColor: 'rgba(0, 128, 0, 1)',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    tooltips: {
                                        mode: 'index',
                                        intersect: false,
                                    },
                                    hover: {
                                        mode: 'nearest',
                                    },
                                    scales: {
                                        xAxes: [{
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Time of day (hours)'
                                            }
                                        }],
                                        yAxes: [{
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Time (minutes)'
                                            },
                                            ticks: {
                                                suggestedMin: 30,
                                                suggestedMax: 120
                                            },
                                            gridLines: {
                                                drawBorder: false
                                            }
                                        }]
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>