<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!-- CSS libraries -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity=''></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


    <style>
    .tablecontainer {
      font-size: small;
      width: 95%;
      margin: auto;
      margin-top: 0px;
      padding: 5px;
    }

        .stat-container {
      width: 100%;
      margin: 0 auto;
      margin-top: 10px;
      padding-right: 20px;
      padding-left:20px;
      padding-bottom: 10px;

    }

    div.title {
      padding: 40px;
      margin-bottom: 10px;
    }

    th{
      text-align: center;
      vertical-align: middle;
      overflow: hidden;
      margin: 0;
      width: auto;
      background-color: white;
    }

    td.red {
      background-color: #FF4900;
    }

    td.green {
      background-color: #19D529;
    }

    td.yellow {
      background-color: #FFD400;
    }

    td.orange {
      background-color: #FFC300;
    }

    td.blue {
      background-color: #4F95FF;
    }

    td {
      text-align: center;
      vertical-align: middle;
      width: auto;
      background-color: white;
    }

    p {
      color: red;
    }

    p.yellow {
      color: #FFC433;
    }

  </style>
  </head>

<body style="background-color: #f2f2f2; font-family: 'Trebuchet MS', Helvetica, sans-serif;">
{% include "navbar.html" %}

{% block section %}
{% endblock %}

<content>
  <div class="title">
    <h3 style="text-align: left; float: left; margin-left: 90px;">Schedule for {{current_date}}</h3>

    <a class="btn btn-raised bg-primary" style="text-align: right; float: right; margin-right: 90px;" href="analysis_graphs">Visualize data</a>

    <a class="btn btn-raised bg-primary" style="text-align: right; float: right; margin-right: 10px;" href="update_schedule">Update schedule</a>

  </div> 

  <div align="center" class="card col-sm-11 stat-container" id="statsBox">
    <h5 class="card-title-sm" style="padding:10px;">Statistics</h5>
    <div class="card-body row">
      <div class="col-3">Recommended shift changes {{shift_changes_plus_minus}}</div>
      <div class="col-3">{{pi_sum}} predicted patients coming in</div>
      <div class="col-3">{{pph_sum}} predicted patients seen</div>
      <div class='col-3'>Average patient wait time is {{pia_sum}} minutes</div>
    </div>
  </div>  


  <div id="originaltable" class='tablecontainer'>
    {{html_table | safe}}
  </div>
  <br>

</content>

<script>
  $( document ).ready(function() {
    if (sessionStorage.getItem('check') == 'yes'){
      html_table = sessionStorage.getItem('html_table');
      document.open();
      document.write(html_table);
      document.close();
    }
    sessionStorage.removeItem('check');
  })


</script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
  
</html>