<!DOCTYPE html>
<html>
<head>
  <title>Emergence</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">

  <!-- Link to custom CSS -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/mainpage.css') }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

  <style>

  .center {
  margin: 0 auto;
  margin-top: 25px;
  padding: 2%;
}

  input{
    margin-bottom: 1%;
  }

  </style>

</head>
<body style="background-color: #f2f2f2; font-family: 'Trebuchet MS', Helvetica, sans-serif;">
{% include "navbar.html" %}

{% block section %}
{% endblock %}

<content>

<div class="card col-sm-7 center">
  <h5 style="text-align: center; margin-top: 30px;">Efficiency Calculator</h5>
  <div class="card-body">

    <form action="/calculator" method="POST">
      <div class="form-row">
        <div class="form-group col-md-4 mb-3">
          <label class="label">Physician</label>
          <select class="custom-select" name="doctor_1" id="doctor_1">
            <option selected>Choose...</option>
            {% for name in list_of_doctors %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-4 mb-3">
        <label class="label">Physician</label>
          <select class="custom-select" name="doctor_2" id="doctor_2">
            <option selected>Choose...</option>
            {% for name in list_of_doctors %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-4 mb-3">
        <label class="label">Physician</label>
          <select class="custom-select" name="doctor_3" id="doctor_3">
            <option selected>Choose...</option>
            {% for name in list_of_doctors %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>  

      <div class="form-row">
        
        <div class="form-group col-md-4 mb-3">
        <label class="label">Physician</label>
          <select class="custom-select" name="doctor_4" id="doctor_4">
            <option selected>Choose...</option>
            {% for name in list_of_doctors %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-4 mb-3">
        <label class="label">Physician</label>
          <select class="custom-select" name="doctor_5" id="doctor_5">
            <option selected>Choose...</option>
            {% for name in list_of_doctors %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-4 mb-3">
        <label class="label">Physician</label>
          <select class="custom-select" name="doctor_6" id="doctor_6">
            <option selected>Choose...</option>
            {% for name in list_of_doctors %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="label">Time of Shift</label>
        <input class="form-control" type="time" name="hour_of_day">
      </div>  

      <div class="form-group">Start: <input class="form-control" type="date" name="search_date"></div>
      <br>
      <button type="submit" class="btn btn-primary">Compute Efficiency!</button>
    </form>
    <br>
    {{prediction|safe}}

  </div>
</div>

</content>
<footer style="margin-bottom: 50px;">
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</body>
</html>
