<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <!-- Spinner -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    

    <style>
      .schedule-form {
        /*position: absolute;*/
        /*top: 110px; right: 200px; */

        padding:10px;
        height: 500px;
        max-height: 500px;
    }

      .profile-box {
        /*position: absolute;*/
        /*top: 110px; left: 200px;*/

        text-align: center;
        padding:10px;
        height: 500px;
        max-height: 500px;
    }

    /* resize images */
      .profile-box img {
        width: auto;
        height: auto;
        object-fit: contain;
    }

    #image01 {width: 70%; height: 75%; border:0;
    margin-left: 15%;
    margin-right: 15%;} 
    .show{display:block;}
    .hide{display:none;}

    </style>

    <script type="text/javascript">
      function loading_function() {
        var x = document.getElementById("page-content");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }

      function display_loading_gif(){
        var obj=document.getElementById('image01');
        obj.className = 'show';
        }

    </script>

  </head>

<body style="background-color: #f2f2f2; font-family: 'Trebuchet MS', Helvetica, sans-serif;">
{% include "navbar.html" %}

{% block section %}
{% endblock %}

<img id="image01" style="background-color: #f2f2f2;" src="https://media.giphy.com/media/Hzx59OElruHpC/giphy.gif" class="hide"> 

<div id="page-content">
<content>

<div class="container">
  <div class="row" style="margin-top: 20px;">

    <div class="col-sm">
      <div class="card profile-box">
        <div class="card-body">
          <h4 class="card-title">Welcome administrator</h4>
          <img src="{{url_for('static', filename='doctor_cartoon.jpg')}}">
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card col-sm schedule-form">
        <div class="card-body" style="margin-top: 15px;">
        <h4 class="card-title" align="center">View existing schedule</h4>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label class="bmd-label-sm">File input</label>
              <input class="form-control-file" type="file" name="file">
            </div>
            <div class="form-group">
              <label class="label">Schedule start date</label>
              <input type="date" class="form-control" name="search_date">
            </div>
            <div class="form-group">
              <label class="label">Schedule end date</label>
              <input type="date" class="form-control" name="search_date_end">
            </div>
            <div class="form-group">
              <label class="bmd-label-floating">Evaluation metrics</label>
              <select class="form-control" name="metrics" id="Metrics">
                <option value="PIA" selected>Patient Waiting Times</option>
                <option value="PPH-PI">Patients Seen/Patient Inflow</option>
              </select>
            </div>

            <button onclick="loading_function(); display_loading_gif()" type="submit" class="btn btn-raised btn-primary">Submit</button>
        </form>
        </div>
      </div>
    </div>

  </div>
</div>

</content>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>