<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Emergence</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

  <!-- Spinner -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<style>

.imgcontainer {
    text-align: center;
}

div {
  margin: auto;
  height: auto;
}

.loader-container {
  background-color: white;
}

#loader-image {
  display: none;
  background-color: red;
}


</style>



<body style="background-color: #f2f2f2; font-family: 'Trebuchet MS', Helvetica, sans-serif;">

        <div id="body-content" style="margin-top: 30px;">

            <form method='POST'>
              <div class="card imgcontainer col-sm-3" style="text-align: center; height: 390px; width: auto;">
                <img style="width:100%; height: auto; margin: 0 auto; margin-top: 15px;" src="{{url_for('static', filename='EMERGENCE-LOGO-HEAD.png')}}">
              </div>

              <div class="card col-sm-4" style="margin-top: 20px;">
                <div class="card-body col-sm-12">
                  <div class="form-group">
                    <label class="label" for="uname">Username</label>
                    <input class="form-control" type="text" placeholder="Enter Username" name="doctor_name">
                  </div>
                  <div class="form-group"> 
                    <label class="label" for="psw"><b>Password</b></label>
                    <input class="form-control" type="password" placeholder="Enter Password" name="password" value="{{request.form.password}}" required>
                  </div>
                  <button class="btn btn-raised bg-primary" type="submit" value="Login">Login</button>
                </div>
              </div>

              {% if error %}
                <div class="alert alert-danger col-sm-4" style="margin-top: 20px;" role="alert">
                  {{error}}
                </div> 
              {% endif %}

            </form>

        </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

</body>
</html>