<header>
  <div class="col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="home">
        <img src="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}" width="30" height="30" class="d-inline-block align-top" alt="">
        Emergence</a>
        <div class="container-fluid" id="navbarNav">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="schedule">Schedule</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="shift_configuration">Configure Shifts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="calculator">Calculator</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">My Account</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</header>