<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">


  <style>
      .tablecontainer {
      width: 90%;
      margin: auto;
      margin-top: 0px;
      padding: 5px;
    }

    th{
      vertical-align: middle;
      overflow: hidden;
      margin: 0;
      width: auto;
      background-color: white;
    }

    td {
      vertical-align: middle;
      width: auto;
      background-color: white;
    }

  </style>
  </head>

<body style="background-color: #f2f2f2; font-family: 'Trebuchet MS', Helvetica, sans-serif;">
{% include "navbar.html" %}

{% block section %}
{% endblock %}

<content>
  <div class="title" style="margin-bottom: 0px; margin-top: 35px;">
    <h3 style="text-align: left; float: left; margin-left: 90px;">Schedule Summary</h3>
  </div>
  <br>
  <br>
  <br>
  <div id='tablecontainer' class='tablecontainer'>
    {{summary_table | safe}}
  </div>

</content>
</body>
<footer style="margin-bottom: 100px;"></footer>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>