<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon"  href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity=''></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


    <style>

        .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 100px;
      width: 100px;
      outline: black;
      background-size: 100%, 100%;
      border-radius: 50%;
      border: 1px solid black;
      background-image: none;
    }

    .carousel-control-next-icon:after
    {
      content: '>';
      font-size: 55px;
      color: black
    }

    .carousel-control-prev-icon:after {
      content: '<';
      font-size: 55px;
      color: black;

    }

    .carousel-item{
      padding-top:0%;
      padding-bottom:0%;
      padding-left:15%;
      padding-right: 15%;
    }

    .stat-container {
      width: 100%;
      margin: 0 auto;
      margin-top: 40px;
      padding-right: 40px;
      padding-left:40px;
      padding-bottom: 10px;

    }

    .legend-box {
      width: 100%;
      margin: 0 auto;
      margin-top: 10px;
      padding-right: 40px;
      padding-left:40px;

    }

    .error-message {
      display: none;
      text-align: center;
      width: 90%;
      margin: 0 auto;
    }

    div.title {
      padding: 20px;
    }

    th{
      text-align: center;
      vertical-align: middle;
      overflow: hidden;
      margin: 0;
      width: 10%;
      height: 80px;
    }

    td {
      height: 80px;
      text-align: center;
      vertical-align: middle;
    }

    button.table {
      background: transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      width: 100%;
      display: inline-block;
    }


    #image01 {width:70%;height:75%;border:0;
    margin-left: 15%;
    margin-right: 15%;} 
    .show{display:block;}
    .hide{display:none;}

  </style>
  </head>

<body style="background-color: #f2f2f2; font-family: 'Trebuchet MS', Helvetica, sans-serif;">

{% include "navbar.html" %}

{% block section %}
{% endblock %}


<img id="image01" src="https://media.giphy.com/media/Hzx59OElruHpC/giphy.gif" class="hide"> 

<div id="page-content">

<content>
  
  <div class="card stat-container" style="width:90%; text-align: center; align-self: center;">
    <div class="card-body" align="center" style="text-align: center;">

      <div align="center" style="padding: 20px">
        <h3 class="card-title" style="float: left; margin-left: 140px;">Calendar</h3>
        <a href="calendar_graphs" class="btn btn-raised bg-primary" style="float: right; margin-right: 120px;">Visualize Data</a>
        <a href="optimized_summary" class="btn btn-raised bg-primary" style="float: right; margin-right: 10px;">See Summary</a>
      </div>

      <div align="center" class="card col-sm-10 stat-container" id="statsBox" style="display: none;">
        <h5 class="card-title-sm" style="padding:10px;">Statistics</h5>
        <div class="card-body row">
          <div class="col-4">{{patient_inflow}} predicted patients coming in</div>
          <div class="col-4">{{patients_seen}} predicted patients seen</div>
          <div class='col-4'>Average patient wait time is {{avg_waittime}} minutes</div>
        </div>
      </div>  
      
    
        <div style="margin-top: 10px;" id="tablecontainer" class="tablecontainer">
          {{calendar | safe}}
        </div>

      <div class="card col-sm-10 legend-box" id="PIPcolorLegend" style="display: none;">
        <h5 class="card-title-sm" style="padding:20px;">Color code</h5>
          <div class="card-body row" style="margin-bottom: 20px;">
            <div class="col-1"><div style="height: 20px; width: 20px; background-color: #FF4900; border-style: solid; border-width: 1px; border-color: #e5e5e5;"></div></div>
            <div class="col-2">Doctor capacity is below 80% (understaffing)</div>
            <div class="col-1"><div style="height: 20px; width: 20px; background-color: #FFD400; border-style: solid; border-width: 1px; border-color: #e5e5e5;"></div></div>
            <div class="col-2">Doctor capacity is between 80% and 90% (understaffing)</div>
            <div class="col-1"><div style="height: 20px; width: 20px; background-color: #19D529; border-style: solid; border-width: 1px; border-color: #e5e5e5;"></div></div>
            <div class="col-2">Doctor capacity is betweeen 90% and 110%</div>
            <div class="col-1"><div style="height: 20px; width: 20px; background-color: #4F95FF; border-style: solid; border-width: 1px; border-color: #e5e5e5;"></div></div>
            <div class="col-2"> Doctor capacity is over 110% (overstaffing)</div>
          </div>
        </div>

      <div class="card col-sm-10 legend-box" id="PIAcolorLegend" style="display: none;">
        <h5 class="card-title-sm" style="padding:20px;">Color code</h5>
          <div class="card-body row" style="margin-bottom: 20px;">
            <div class="col-1"><div style="height: 20px; width: 20px; background-color: #FF4900; border-style: solid; border-width: 1px; border-color: #e5e5e5;"></div></div>
            <div class="col-2">Average waiting times are over 2h (understaffing)</div>
            <div class="col-1"><div style="height: 20px; width: 20px; background-color: #FFD400; border-style: solid; border-width: 1px; border-color: #e5e5e5;"></div></div>
            <div class="col-2">Average waiting times are between 1h30 and 2h (understaffing)</div>
            <div class="col-1"><div style="height: 20px; width: 20px; background-color: #19D529; border-style: solid; border-width: 1px; border-color: #e5e5e5;"></div></div>
            <div class="col-2">Average waiting times are between 45min and 1h30 (balanced)</div>
            <div class="col-1"><div style="height: 20px; width: 20px; background-color: #4F95FF; border-style: solid; border-width: 1px; border-color: #e5e5e5;"></div></div>
            <div class="col-2">Average waiting times are below 45min (overstaffing)</div>
        </div>
      </div>

    </div>
  </div>

</content>
</div>

<div class="alert alert-danger error-message" style="margin-top: 10px;" id="error_message" role="alert">No input found for an analysable schedule.</div>

</body>
<footer style="margin-bottom: 100px;"></footer>

</div>

<script type="text/javascript">
  $( document ).ready(function() {
      if ("{{metric}}" == "PIA") {
        var PIP_color_code = document.getElementById('PIPcolorLegend');
        var PIA_color_code = document.getElementById('PIAcolorLegend');
        var statsBox = document.getElementById('statsBox');
        PIP_color_code.style.display = 'none';
        PIA_color_code.style.display = 'block';
        statsBox.style.display = 'block';
      } else if ("{{metric}}" == 'PPH-PI') {
        var PIP_color_code = document.getElementById('PIPcolorLegend');
        var PIA_color_code = document.getElementById('PIAcolorLegend');
        var statsBox = document.getElementById('statsBox');
        PIP_color_code.style.display = 'block';
        PIA_color_code.style.display = 'none';
        statsBox.style.display = 'block';
      } else {
        var content = document.getElementById('page-content');
        var error_message = document.getElementById('error_message');
        error_message.style.display = 'block';
        content.style.display = 'none';
      }
    })
</script>

<script type="text/javascript">

    function loading_function() {
      var x = document.getElementById("page-content");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    function display_loading_gif(){
      var obj=document.getElementById('image01');
      obj.className = 'show';
      }

  if ("{{key}}" == "Emergence"){
    var myTables = document.getElementById('tablecontainer');
    sessionStorage.tableData=myTables.innerHTML;
    myTables.innerHTML = sessionStorage.tableData;
    document.location.href = '/schedule';
  }

  var myTables = document.getElementById('tablecontainer');
  myTables.innerHTML = sessionStorage.tableData;


  $('button[type=button]').click(function() {
    var dateID = $(this).closest("td").attr("id");
    var date = $(this).text();
    var month = $(this).closest("tbody").find("th.month").text();
    
    $.post('/schedule', 
    {
      date : date,
      dateID : dateID,
      month : month
    }, function(html_table){
      sessionStorage.setItem('check', 'yes');
      sessionStorage.setItem('html_table', html_table);
      document.location.href = '/analysis';
    })

  })
  
</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

  </body>
</html>