<!doctype html>
<html lang="en">
  <head>
    <title>Emergence</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='EMERGENCE-LOGO-ICON.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <style>
    .center {
      margin: 0 auto;
      margin-top: 25px;
      padding: 2%;
    }

    </style>

    
  </head>

<body style="background-color: #f2f2f2; font-family: 'Trebuchet MS', Helvetica, sans-serif;">

{% include "navbar.html" %}

{% block section %}
{% endblock %}


<content>
  
  <div class="card col-sm-7 center">

    <h5 style="text-align: center; margin-top: 20px; margin-bottom: 10px;">Doctor Shifts</h5>

    <div class="card-body">

      <form enctype="multipart/form-data" method="POST" action="/shift_configuration">
        <div style="width: 100%; margin: 0 auto;">
          <label class="label" for="Shift Name">Shift Name</label>              
          <label class="label" style="margin-left: 40%;" for="Start Time">Start Time</label>            
          <label class="label" style="float: right; margin-right: 16%;" for="End Time">End Time</label>
        </div>
        {% for shiftname, time in doctor_shifts.items() %}

        <div class="form-row">
            <div class="form-group col-md-6 mb-3">
              <input type="text" style="padding-top: 12.5px;" class="form-control" id="Shift Name" value="{{shiftname}}" name="{{shiftname}}" required>
            </div>

            <div class="form-group col-md-3 mb-3">
              <input type="time" class="form-control" id="Start Time" value="{{time[0]}}:00:00" name="{{shiftname}} Start Time" required> 
            </div>

            <div class="form-group col-md-3 mb-3">
              <input type="time" class="form-control" id="End Time" value="{{time[1]}}:00:00" name="{{shiftname}} End Time" required>
            </div>
        </div>

        {% endfor %}

      <button style="float: right; margin-right: 20px; margin-top: 10px;" type="submit" class="btn btn-raised btn-primary">Save</button>
      </form>

    </div>
  </div>

</content>
<footer style="margin-bottom: 100px;"></footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>


  </body>
</html>