<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"
            integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s=" crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
            crossorigin="anonymous"></script>

    <title>Emergence</title>
</head>

<style type="text/css">

    #input_update_schedule_div{
        margin-top:20px;
    }

    .graph-container {
        max-height: 600px;
        margin-right: 20px;
        margin: 0 auto;
    }

    .graph-div {
        height: 100%;
    }

    .graph-canvas {
        max-height: 600px;
    }

    .control-panel {
        max-height: 600px;
    }
</style>

<body style="background-color: #f2f2f2; font-family: Trebuchet MS, Helvetica, sans-serif;">

{% include "navbar.html" %}

{% block section %}
{% endblock %}


<div class="container-fluid to-show" align="center" id="input_update_schedule_div">
<!--     <div class="row container-fluid" align="center" style="margin-top: 10px; margin-left: 1px;"> -->

    <form method="POST" action="/update_schedule_change_df_schedule">
        <p>Date {{change_date}}
        </p>
        <p>Shift and doctor name</p>

        <!-- loop for shifts -->
        {% for shift_name, current_doctor_name in doctor_nested_list %}

            {{shift_name}}
            <select name="{{shift_name}}">


                <option value="{{current_doctor_name}}" selected>{{current_doctor_name}}</option>
                <option value="---">---</option>


                <!-- loop for doctor names -->
                {% for doctor_name in list_of_doctors_total_csv %}

                    <option value="{{doctor_name}}">{{doctor_name}}</option>
                    
                {% endfor %}

            </select>    
            <br><br>
        {% endfor %}

        <button class="btn btn-success" type="submit">Submit</button>
    </form>

</div>
</body>
</html>